### 1. Two-digits prime numbers

Create a Set of Two-digits prime numbers and store it in the primes variable and print it.

In [9]:
# print two-digits numbers

n =2

for num in range (10 **(n-1), 10 ** n):
    print(num, end = ' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [27]:
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            
             break
    else:
        print(num, end = " ")

In [29]:
for num in range (10 **(n-1), 10 ** n):
    if is_prime(num):
        print(num, end = ' ,')

11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 2. A list or a set, ay there's the point
The following is a set of prime numbers less than 1000. Can you check to see if the number 149 is prime? Which is better for determining the presence or absence of an item in a group of items, a list or a set?

In [1]:
primes = {
          2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991
}

In [37]:
%timeit 149 in primes

157 ns ± 17.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [2]:
primes_l = [
          2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991
    
]

In [40]:
%timeit 149 in primes_l

2.4 µs ± 399 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [41]:
2.4e-6 / 157e-9

# Searching in a set is fifteen times faster than searching in a list!

15.286624203821656

#### Searching a number in list(primes_l)

In [4]:
%timeit 2 in primes_l

56.2 ns ± 4.64 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [5]:
%timeit 8 in primes_l

# 8 is not in the list, searches until the end of the list, so it takes a lot of time

3.26 µs ± 292 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
%timeit 907 in primes_l

3.32 µs ± 233 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

#### Searching a number in set(primes)

In [54]:
%timeit 2 in primes

139 ns ± 10.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [52]:
%timeit 8 in primes

144 ns ± 9.53 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [53]:
%timeit 907 in primes

# The time is almost equal for all three numbers

204 ns ± 8.68 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### 3_ Add an element to the set
Oops! apparently one of the prime numbers below One thousand, 997, is missing. Can you add it to primes vaiable? Then check to see if 997 is in primes variable.

In [65]:
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}

In [58]:
primes.add(997) #inplace

In [59]:
997 in primes

True

### 4_Set operations
4_1. Make a set of multiples of 3 and name it m3.

4_2. Make a set of multiples of 5 and name it m5.

4_3. Can you find the multiples of 15 using the & operator and store it in variable z1?

4_4. Can you find the multiples of 15 using the intersection() method and store it in variable z2?

4_5. Then find the multiples of 5 that are not divisible by 3. (hint: use the operator - or use the difference() method)

4-6. after that use the + operators or the union() method to make a list of numbers that are either divisible by 5 or divisible by 3, or divisible by both.

In [96]:
# 4_1

m3 = set(range(3, 100, 3))

In [97]:
# 4_2

m5 = set(range(5, 100, 5))

In [98]:
# 4_3

z1 = m3 & m5  # A number divisible by 15 that is divisible by both 3 and 5 
z1

{15, 30, 45, 60, 75, 90}

In [99]:
# 4_4

z2 = m3.intersection(m5)

In [100]:
z2

{15, 30, 45, 60, 75, 90}

In [82]:
# 4_5

z5 = m5 - m3   #m5.difference(m3)
z5

# find the multiples of 5 that are not divisible by 3

{5, 10, 20, 25, 35}

In [83]:
# 4_6

z3_5 = m3.union(m5)
z3_5

# ist of numbers that are either divisible by 5 or divisible by 3, or divisible by both.

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 35}